*.ipynb_checkpoints/
*__pycache__/
*.vs/
*Release/
samples/*
res/full_sha256.csv
attacker/Dropper/calculator/resource.h
attacker/Dropper/calculator/calculator.rc
attacker/Dropper/calculator/calculator.aps
defender/pe-machine-learning-dataset/*
defender/samples/*